:root {
    --primary-color-1: #043873;
    --primary-color-2: #4F9CF9;
    --secondary-color-1: #FFE492;
    --secondary-color-2: #A7CEFC;
    --secondary-color-3: #FFFFFF;
    --secondary-color-4: #212529;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}


html, body {
    width: 100dvw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Mobile */
/* Start no use media query */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        height: 56px;
    }
    .header__logo img {
        height: 24px;
    }
    .header__hum-menu img {
        height: 24px;
    }
    .header__btn_login, .btn__login, .header__btn_try, .btn__try, .header__menu, .header__nav {
        display: none;
    }

    .hero__container {
        box-sizing: border-box;
        padding: 80px 16px;
    }
    
    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 60px;
    }

    .hero__body-content {
        position: relative;
    }

    .hero__h4 {
        margin-top: auto;
        margin-bottom: 24px;

        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.57px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #4F9CF9;
    }
    
    .hero__p {
        margin-top: auto;

        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #4F9CF9;
    }

    .hero__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/Group.svg');
        background-size: cover;
        background-position: center;
        pointer-events: none;
        inset: 0;
        z-index: -1;
    }

    .hero__button { 
        height: 70px;
        background-color: #4285F4;
        color: white;
        border: none;
        padding: 20px 40px;
        font-family: Inter;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Space between text and icon */
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto; 
    }

    .your-work__button {
        height: 70px;
        background-color: #4285F4;
        color: white;
        border: none;
        padding: 20px 40px;
        font-family: Inter;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Space between text and icon */
        margin-top: 60px;
        margin-left: 0;
        margin-right: auto; 
       
    }

    .hero__btn__taskey-img {
        width: auto; 
        height: auto;
    }

    .hero__image {
        width: 100%;
        height: auto;  
    }

    .management__container,
    .your-data__container,
    .our__container {
        width: auto;
        height: auto;
        padding: 80px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }

    .customise__container {
        width: auto;
        height: auto;
        padding: 80px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }

    .choose__container {
        width: auto;
        height: auto;
        padding: 80px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }

    .your-work__container {
        padding: 100px 16px 140px 16px; 
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
        background: #043873;
        margin: 0; 
        width: 100%; 
        height: 100%; 
    }

    .project__body-content {
        position: relative;
    }

    .work__body-content ,
    .customise__body-content,
    .choose__body-content {
        position: relative;
    }

    .project__content,
    .customise__content,
    .choose__content,
    .your-work__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 60px;
    }

    .work__content,
    .your-data__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .our__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 100px;
    }

    .project__h4,
    .work__h4,
    .customise__h4,
    .choose__h4,
    .your-work__h4,
    .your-data__h4,
    .our__h4 {
        margin-top: auto;
        margin-bottom: 24px;

        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.57px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .project__p,
    .work__p,
    .customise__p,
    .choose__p,
    .your-work__p,
    .your-data__p {
        margin-top: auto;
        margin-bottom: 0;

        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .your-work__h4 ,
    .your-work__p{
        text-align: left;
        color: #FFFFFF;
    }

    .project__button-start,
    .work__button-try-it ,
    .customise__button-let-go,
    .your-data__button {
        height: auto;
        background-color: #4285F4;
        color: white;
        border: none;
        padding: 20px 40px;
        font-family: Inter;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Space between text and icon */
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-container-hero,
    .image__container-project,
    .image__container-work,
    .image__container-customise {
        width: 100%;
    }

    .project__image {
        width: 100%;
        height: auto;
    }

    .microsoft__image-container {
        min-width: 213px;
        width: 213px;
        margin-left: auto;
        margin-right: auto;
    }

    .slack__image-container {
        min-width: 192px;
        width: 192px;
        margin-left: auto;
        margin-right: auto;
    }

    .google__image-container {
        min-width: 140px;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }

    .microsoft__image,
    .slack__image,
    .google__image {
        width: 100%;
        height: auto;
    }

    .customise__image,
    .your-data__image {
        width: 100%;
        height: auto;
    }

    .work__image {
        width: 100%;
        height: auto;
        margin-top: 60px;
    }

    .yellow__underline{
        background-image: url('../assets/Vector-yellow.svg');
        position: absolute;
        background-repeat: no-repeat; 
        width: auto;
        height: auto;
        /* transform: rotate(90deg); */
    }

/* Tablet */
@media screen and (min-width: 768px) {
    .header {
        height: 66px;
        padding: 16px 32px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu img {
        width: 42px;
        height: 34px;
    }

    .header__btn_login, .btn__login, .header__btn_try, .btn__try, .header__menu, .header__nav {
        display: none;
    }

    .hero__container {
        padding: 140px 20px 100px 20px;
        height: auto;
    }

    .management__container {
        height: auto;
        padding: 100px 20px;
    }
    
    .customise__container {
        padding: 100px 32px;
    }

    .your-work__container,
    .your-data__container,
    .our__container {
        height: auto;
        padding: 140px 20px;
    }

    .your-work__content {
        height: auto;
        margin-right: 144px;
    }

    .hero__h4,
    .project__h4,
    .work__h4,
    .your-work__h4,
    .your-data__h4,
    .our__h4 {
        font-size: 54px;
        font-weight: 700px;
        line-height: 66px;
    }

    .image-container-hero,
    .image__container-project,
    .image__container-work {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__image{
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .project__image,
    .your-data__image {
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .customise__image {
        width: 100%;
        height: auto;
        max-width: 557px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .microsoft__image-container {
        min-width: 287px;
        width: 287px;
        margin-left: auto;
        margin-right: auto;
    }

    .slack__image-container {
        min-width: 280px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .google__image-container {
        min-width: 211px;
        width: 211px;
        margin-left: auto;
        margin-right: auto;
    }

    .work__image {
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin: 100px auto 0 auto;
    }

    .project__image-work {
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin: 60px auto 100px auto;  
    }

    .yellow__underline {
        left: 184px;
        top: 137px;
        z-index: -1;
        width: 233px;
        height: 38px;
        background-size: 233px 38px;
    }

}

/* Desktop 1152px */
@media screen and (min-width: 1152px) {
    .header {
        height: 92px;
        padding: 16px 32px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu {
        display: flex;
    }

    .header__nav {
        display: flex;
        margin-left: auto;
        margin-right: 24px;
        align-items: center;
    }

    .header__btn-login {
        margin-right: 24px;
    }

    .btn__login {
        display: flex;
        width: 126px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #FFE492;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #043873;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
    }

    .btn__try {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: var(--secondary-color-3);
    }

    .btn__try img {
        margin-left: 10px;
    }

    .hero__container {
        width: 100%;
        padding: 140px 32px; 
    }

    .management__container,
    .customise__container,
    .your-work__container,
    .your-data__container,
    .our__container {
        width: 100%;
        padding: 140px 32px;
    }

    .hero__content {
        flex-direction: row;
        /* column-gap: 92px; */
        column-gap: 24px;
    }

    .your-work__content {
        height: auto;
        margin-right: 470px;
    }

    .our__content {
        flex-direction: row;
        justify-content: space-between;
        /* gap: 0; */
        column-gap: 85px;
        height: 71px;
    }

    .project__content,
    .customise__content {
       flex-direction: row;
       column-gap: 92px;
    }

    .work__content {
        flex-direction: row-reverse;
        column-gap: 33px; 
    }

    .your-data__content {
        flex-direction: row-reverse;
    }

    .hero__body-content {
        min-width: 562px;  
        width: 562px; 
        height: 351px; 
    }

    .work__body-content {
        min-width: 528px;
        width: 528px;
    }

    .your-data__body-content {
        min-width: 526px;
        width: 526px;
    }

    .hero__h4,
    .project__h4,
    .work__h4,
    .customise__h4,
    .your-work__h4,
    .your-data__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-bottom: 24px;
    }

    .our__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        margin-bottom: 24px;
        text-align: center;
    }


    .hero__p,
    .project__p,
    .work__p,
    .customise__p,
    .your-work__p,
    .your-data__p {
        text-align: left;
    }

    .hero__button,
    .project__button-start,
    .project__button-try-it,
    .customise__button-let-go,
    .your-data__button {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .work__button-try-it {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .image-container-hero {
        min-width: 560px;
        width: 560px;
        height: 350px;
    }

    .image__container-project,
    .image__container-customise {
        min-width: 560px;
        width: 560px;
        height: 385px;
    }

    .image__container-work {
        width: 528px;
        height: 492px;
    }

    .hero__image,
    .project__image,
    .customise__image {
        object-fit: cover;
    }

    .work__image {
        object-fit: cover;
    }
    
    .hero__image,
    .project__image,
    .customise__image {
        width: 100%;
        height: 100%;
    }

    .work__image { 
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .microsoft__image-container {
        min-width: 287px;
        width: 287px;
        margin-left: auto;
        margin-right: auto;
    }

    .slack__image-container {
        min-width: 280px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .google__image-container {
        min-width: 211px;
        width: 211px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Desktop 1440px */
@media screen and (min-width: 1440px) {
    .header {
        height: 92px;
        padding: 16px 32px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu {
        display: none;
    }

    .header__menu {
        display: flex;
        margin-right: auto;
    }

    .header__menu ul {
        display: flex;
        list-style: none;
        width: 552px;
        height: 23px;
        gap: 32px;
    }

    .header__menu a {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        text-align: left;
        color: #4F9CF9;
        text-decoration: none;
    }

    .header__nav {
        display: flex;
        margin-left: auto;
        margin-right: 24px;
        align-items: center;
    }

    .header__btn-login {
        margin-right: 24px;
    }

    .btn__login {
        display: flex;
        width: 126px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #FFE492;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #043873;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
    }

    .btn__try {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: var(--secondary-color-3);
    }

    .btn__try img {
        margin-left: 10px;
    }

    .hero__container {
        padding: 100px 32px;
        width: 100%;
    }

    .hero__content {
        flex-direction: row;
        column-gap: 0;
    }

    .hero__body-content {
        min-width: 691px;
        width: 691px;
        height: 361px;
    }

    .hero__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-bottom: 24px;
    }
    
    .hero__p {
        text-align: left;
    }

    .hero__button {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .management__container ,
    .customise__container,
    .your-work__container,
    .your-data__container,
    .our__container {
        width: 100%;
        padding: 140px 32px;
    }

    .project__content {
        flex-direction: row;
        column-gap: 10px;
    }

    .customise__content {
        flex-direction: row;
        column-gap: 98px;
    }

    .your-work__content {
        flex-direction: row;
        padding: 0px 156px 128px 156px;
    }

    .work__content {
        flex-direction: row-reverse;
        column-gap: 0;  
    }

    .your-work__body-content {
        min-width: 1064px;
        width: 1064px;
        height: 171px;
    }

    .work__body-content {
        min-width: 633px;
        width: 633px;
        height: 324px;
    }

    .customise__body-content {
        min-width: 592px;
        width: 592px;
        height: 411px;
    }

    .project__body-content {
        min-width: 657px;
        width: 657px;
        height: 411px;
    }

    .your-data__body-content {
        min-width: 695px;
        width: 695px;
        height: 324px;
    }

    .your-work__button {
        margin-left: auto;
        margin-right: auto;
    }

    .project__h4,
    .customise__h4,
    .your-work__h4,
    .your-data__h4,
    .our__h4 {
        font-family: Inter;
        font-size: 72px;
        font-weight: 700;
        line-height: 88px;
        text-align: left;
        letter-spacing: -0.02em;
    }

    .our__h4 {
        text-align: center;
    }

    .your-work__p {
        text-align: center;
    }

    .hero__image {
        object-fit: cover;
        min-width: 685px;
        width: 685px;
        height: 457px;
    }

    .project__image {
        object-fit: cover;
        min-width: 719px;
        width: 719px;
        height: 448px;
    }

    .customise__image {
        object-fit: cover;
        min-width: 676px;
        width: 676px;
        height: 479px;
    }

    .work__image {
        object-fit: cover;
        min-width: 583px;
        width: 583px;
    }

    .your-data__image {
        object-fit: cover;
        min-width: 681px;
        width: 681px;
        margin: 0;
    }

     .image-container-hero {
        width: 100%;
        height: 100%;
    }
    
    .image__container-work {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 160px;
    }
    
    .image__container-project,
    .image__container-customise,
    .image__container-your-data {
        width: 100%;
        height: 100%;
    }

    .microsoft__image-container,
    .slack__image-container,
    .google__image-container {
        margin: 0;
    }

}

/* Desktop 1920px */
@media screen and (min-width: 1920px) {
    .header {
        height: 92px;
        padding: 16px 220px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu {
        display: none;
    }

    .header__menu {
        display: flex;
        margin-right: auto;
    }

    .header__menu ul {
        display: flex;
        list-style: none;
        width: 552px;
        height: 23px;
        gap: 32px;
    }

    .header__menu a {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        text-align: left;
        color: #4F9CF9;
        text-decoration: none;
    }

    .header__nav {
        display: flex;
        margin-left: auto;
        margin-right: 24px;
        align-items: center;
    }

    .header__btn-login {
        margin-right: 24px;
    }

    .btn__login {
        display: flex;
        width: 126px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #FFE492;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #043873;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
    }

    .btn__try {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: var(--secondary-color-3);
    }

    .btn__try img {
        margin-left: 10px;
    }

    .hero__container {
        width: 100%;
        padding: 140px 220px;
    }

    .management__container,
    .customise__container,
    .your-work__container,
    .your-data__container,
    .our__container {
        width: 100%;
        padding: 140px 220px;
    }

    .hero__content {
        flex-direction: row;
        min-width: 1480px;
        width: 1480px;
    }
    
    .project__content {
        flex-direction: row;
        column-gap: 60px;
    }

    .customise__content {
        flex-direction: row;
        column-gap: 98px;
    }

    .work__content {
        flex-direction: row-reverse;
        column-gap: 100px; 
    }

    .your-work__content {
        flex-direction: column;
        padding: 0;
        margin: 0;
        min-width: 1480px;
        height: 294px;
        width: 1480px;
    }

    .hero__body-content {
        min-width: 656px;
        width: 656px;
        margin: 0;
    }

    .work__body-content {
        min-width: 670px;
        width: 670px;
    }

    .your-data__body-content {
        min-width: 695px;
        width: 695px;
    }

    .project__body-content {
        width: 672px;
        height: 411px;
    }

    .customise__body-content {
        width: 697px;
        height: 381px;
    }

    .hero__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-top: 24px;
    }

    .project__h4,
    .work__h4,
    .customise__h4,
    .your-data__h4 {
        font-size: 72px;
        font-weight: 700;
        line-height: 88px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .project__p,
    .work__p,
    .customise__p,
    .your-data__p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    
    .hero__p {
        text-align: left;
    }

    .hero__button {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .image-container-hero {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .image__container-project {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .image__container-work {
        min-width: 710px;
        width: 710px;
        height: 661px;
        margin-right: 0;
    }

    .work__image { 
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: none;
    }

    .project__image {
        min-width: 748px;
        width: 748px;
        height: 547px;
    }

    .your-data__image {
        object-fit: cover;
        min-width: 748px;
        width: 748px;
    }

    .customise__image {
        min-width: 686px;
        width: 686px;
        height: 479px;
    }
    
    .hero__image {
        object-fit: cover;
        min-width: 824px;
        width: 824px;
        height: 549px; 
    }
    
    .microsoft__image-container,
    .slack__image-container,
    .google__image-container {
        margin: 0;
    }
}






