/* @import url('href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"'); */

:root {
    --primary-color-1: #043873;
    --primary-color-2: #4F9CF9;
    --secondary-color-1: #FFE492;
    --secondary-color-2: #A7CEFC;
    --secondary-color-3: #FFFFFF;
    --secondary-color-4: #212529;

}

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
    overflow-x: hidden;
    width: 100 dvw;
    
}

/* Mobile */
/* Start no use media query */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        height: 56px;
    }
    .header__logo img {
        height: 24px;
    }
    .header__hum-menu img {
        height: 24px;
    }
    .header__btn_login, .btn__login, .header__btn_try, .btn__try, .header__menu, .header__nav {
        display: none;
    }

    .hero__container {
        width: auto;
        height: auto;
        padding: 80px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }
    
    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 60px;
    }

    .hero__body-content {
        position: relative;
    }

    .hero__h4 {
        margin-top: auto;
        margin-bottom: 24px;

        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.57px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #4F9CF9;
    }
    
    .hero__p {
        margin-top: auto;

        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #4F9CF9;
    }

    .hero__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../assets/Group.svg');
        background-size: cover;
        background-position: center;
        pointer-events: none;
        inset: 0;
        z-index: -1;
    }

    .hero__button {
        height: 70px;
        background-color: #4285F4;
        color: white;
        border: none;
        padding: 20px 40px;
        font-family: Inter;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Space between text and icon */
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        
    }

    .hero__btn__taskey-img {
        width: auto; 
        height: auto;
    }

    
    .hero__image {
        width: 100%;
        height: auto;
        
    }

    .management__container {
        width: auto;
        /* height: 1586px; */
        padding: 80px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }

    .project__content,
    .work__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 60px;
    }

    .project__h4,
    .work__h4 {
        margin-top: auto;
        margin-bottom: 24px;

        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.57px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .project__p,
    .work__p {
        margin-top: auto;
        margin-bottom: 0;

        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .project__button-start,
    .work__button-try-it {
        height: auto;
        background-color: #4285F4;
        color: white;
        border: none;
        padding: 20px 40px;
        font-family: Inter;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Space between text and icon */
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-container-hero,
    .image__container-project,
    .image__container-work {
        width: 100%;
    }

    .project__image,
    .work__image {
        width: 100%;
        height: auto;
        /* margin-top: 60px; */
    }

    .yellow__underline{
        background-image: url('../assets/Vector-yellow.svg');
        position: absolute;
        background-repeat: no-repeat; 
        width: auto;
        height: auto;
        /* transform: rotate(90deg); */
    }

    .project__body-content{
        position: relative;
    }
 
/* Tablet */
@media screen and (min-width: 768px) {
    .header {
        height: 66px;
        padding: 16px 32px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu img {
        width: 42px;
        height: 34px;
    }

    .header__btn_login, .btn__login, .header__btn_try, .btn__try, .header__menu, .header__nav {
        display: none;
    }

    .hero__container {
        padding: 140px 20px 100px 20px;
        height: auto;
    }

    .management__container {
        height: auto;
        padding: 100px 20px;
    }

    .hero__h4,
    .project__h4,
    .work__h4 {
        font-size: 54px;
        font-weight: 700px;
        line-height: 66px;
    }

    .image-container-hero,
    .image__container-project,
    .image__container-work {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__image{
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .project__image {
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        /* margin: 60px auto 0 auto; */
    }

    .work__image {
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin: 100px auto 0 auto;
    }

    .project__image-work {
        width: 100%;
        height: auto;
        max-width: 551px;
        display: block;
        margin: 60px auto 100px auto;
        
    }

    .yellow__underline {
        left: 184px;
        top: 137px;
        z-index: -1;
        width: 233px;
        height: 38px;
        background-size: 233px 38px;
    }

}

/* Desktop 1152px */
@media screen and (min-width: 1152px) {
    .header {
        height: 92px;
        padding: 16px 32px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu {
        display: flex;
    }

    .header__nav {
        display: flex;
        margin-left: auto;
        margin-right: 24px;
        align-items: center;
    }

    .header__btn-login {
        margin-right: 24px;
    }

    .btn__login {
        display: flex;
        width: 126px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #FFE492;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #043873;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
    }

    .btn__try {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: var(--secondary-color-3);
    }

    .btn__try img {
        margin-left: 10px;
    }

    .hero__container {
        width: 100%;
        padding: 140px 32px;
        column-gap:1px;;
    }

    .management__container {
        width: 100%;
        padding: 100px 32px;
    }

    .hero__content {
        display: flex;
        flex-direction: row;
        column-gap: 55px;
    }

    .project__content {
       flex-direction: row;
       column-gap: 55px;
    }

    .hero__h4,
    .project__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-bottom: 24px;
    }
    
    .hero__p,
    .project__p {
        text-align: left;
    }

    .hero__button,
    .project__button-start,
    .project__button-try-it {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .image-container-hero {
        min-width: 560px;
        width: 560px;
        height: 385px;
    }

    .image__container-project{
        min-width: 560px;
        width: 560px;
        height: 385px;
    }

    .hero__image,
    .project__image {
        object-fit: cover;
    }
    
    .hero__image,
    .project__image {
        width: 100%;
        height: 100%;
    }

}

/* Desktop 1440px */
@media screen and (min-width: 1440px) {
    .header {
        height: 92px;
        padding: 16px 32px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu {
        display: none;
    }

    .header__menu {
        display: flex;
        margin-right: auto;
    }

    .header__menu ul {
        display: flex;
        list-style: none;
        width: 552px;
        height: 23px;
        gap: 32px;
    }

    .header__menu a {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        text-align: left;
        color: #4F9CF9;
        text-decoration: none;
    }

    .header__nav {
        display: flex;
        margin-left: auto;
        margin-right: 24px;
        align-items: center;
    }

    .header__btn-login {
        margin-right: 24px;
    }

    .btn__login {
        display: flex;
        width: 126px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #FFE492;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #043873;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
    }

    .btn__try {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: var(--secondary-color-3);
    }

    .btn__try img {
        margin-left: 10px;
    }

    .hero__container {
        padding: 100px 32px;
        width: 100%;
    }

    .hero__content {
        display: flex;
        flex-direction: row;
        column-gap: 0;
    }

    .hero__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-bottom: 24px;
    }
    
    .hero__p {
        text-align: left;
    }

    .hero__button {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .image-container-hero {
        width: auto;
        height: auto;
    }
    
    .hero__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}

/* Desktop 1920px */
@media screen and (min-width: 1920px) {
    .header {
        height: 92px;
        padding: 16px 220px;
    }

    .header__logo img {
        width: 191px;
        height: 34px;
    }

    .header__hum-menu {
        display: none;
    }

    .header__menu {
        display: flex;
        margin-right: auto;
    }

    .header__menu ul {
        display: flex;
        list-style: none;
        width: 552px;
        height: 23px;
        gap: 32px;
    }

    .header__menu a {
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        text-align: left;
        color: #4F9CF9;
        text-decoration: none;
    }

    .header__nav {
        display: flex;
        margin-left: auto;
        margin-right: 24px;
        align-items: center;
    }

    .header__btn-login {
        margin-right: 24px;
    }

    .btn__login {
        display: flex;
        width: 126px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #FFE492;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #043873;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
    }

    .btn__try {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 8px;
        background-color: #4F9CF9;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: var(--secondary-color-3);
    }

    .btn__try img {
        margin-left: 10px;
    }

    .hero__container {
        display: flex;
        flex-direction: row;
        padding: 140px 220px;
    }

    .hero__content {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .hero__h4 {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        margin-top: 24px;
    }
    
    .hero__p {
        text-align: left;
    }

    .hero__button {
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .image-container-hero {
        width: auto;
        height: auto;
    }
    
    .hero__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}






